#background_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#whole_card{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 600px;
}

#movie_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#person_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}
#num{
    display: flex;
    justify-content: flex-end;
}

#name{
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
}